body{
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
   overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    
}
#keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 25px;
   
}
button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
   background-color: hsl(0, 0%, 40%); 
}
.operator{
    background-color:#ff751a
}
.operator:hover{
    background-color: #ff8533;

}
@media (max-width: 480px) {

  #calculator {
    max-width: 90%;       
    border-radius: 10px;
  }

  #display {
    padding: 15px;
    font-size: 3rem;      
  }

  #keys {
    gap: 8px;
    padding: 15px;
    grid-template-columns: repeat(4, 1fr);
  }

  button {
    height: 70px;        
    width: 70px;
    font-size: 2rem;
  }
}
